/* Monokai Spectrum Colors */
/* credit: https://github.com/subtheme-dev/monokai-pro/blob/master/colors/spectrum.yaml */
:root {
    /* primary colors*/
    --red: #FC618D;
    --orange: #fd9353;
    --yellow: #fce566;
    --green: #7bd88f;
    --blue: #5ad4e6;
    --purple: #948ae3;
    /* base colors */
    --base0: #131313;
    --base1: #191919;
    --base2: #222222;
    --base3: #363537;
    --base4: #525053;
    --base5: #69676c;
    --base6: #8b888f;
    --base7: #bab6c0;
    --base8: #f7f1ff;
    /* variants  */
    --base8x0c: #2b2b2b;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--base0) !important;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background-color: var(--base2);
}

.col, .row {
    width: 95%;
}

.row {
    height: 49vh;
    margin: 0 auto !important;
    background-color: var(--base3);
}

.draggable {
    height: 40px;
    margin: 20px;
    width: 40px;
    background-color: var(--purple);
}
.snappable {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: var(--base7);
}