/* Monokai Spectrum Colors */
/* credit: https://github.com/subtheme-dev/monokai-pro/blob/master/colors/spectrum.yaml */
:root {
    /* primary colors*/
    --red: #FC618D;
    --orange: #fd9353;
    --yellow: #fce566;
    --green: #7bd88f;
    --blue: #5ad4e6;
    --purple: #948ae3;
    /* base colors */
    --base0: #131313;
    --base1: #191919;
    --base2: #222222;
    --base3: #363537;
    --base4: #525053;
    --base5: #69676c;
    --base6: #8b888f;
    --base7: #bab6c0;
    --base8: #f7f1ff;
    /* variants  */
    --base8x0c: #2b2b2b;
}
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--base0) !important;
    user-select: none;
}
h3, h5 {
    color: var(--purple);
    width: fit-content;
    height: 50px;
    margin: 0 auto;
}
hr {
    margin: 5px auto !important;
    color: var(--purple) !important;
    opacity: 1 !important;

    width: 90%;
    height: 5px;
}

.rack-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 35px;
}
.rack-container h5 {
    margin: initial;
    font-style: italic;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background-color: var(--base2);
}
.container .row {
    height: 90%;
}

.row {
    margin: 0 auto !important;
}
.col, .row {
    width: 95%;
}

.draggable {
    height: fit-content;
    width: fit-content;
    min-width: 50px;
    min-height: 50px;
    background-color: var(--purple);
    position: absolute;
    padding-top: 3px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: white;
    box-shadow: rgb(38, 57, 77) 1px 2px 3px 0px;
    border-radius: 3px;    
    border: 5px solid var(--purple);
}
.draggable:hover {
    cursor: pointer;
    color: var(--purple);
    background-color: white;
}

.droppable {
    height: 50px !important;
    width: 50px !important;
    height: fit-content;
    width: fit-content;
    margin: 0 auto !important;
    display: inline-block;
    margin-left: 8px !important;
    background-color: var(--base7);
}
.droppable:last-child {
    margin-right: 8px !important;
}

.shelf {
    margin: 0px auto;
    margin-top: 20px;
    display: block;
    background-color: var(--base6);
    width: fit-content;
    height: 50px;
    box-shadow: #fce56669 5px 20px 20px -14px;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: var(--purple);
    background-color: white;
    border: 3px solid var(--purple);
    border-radius: 4px !important;
    margin-left: 20px !important;
    transition: 0.3s;
    float: right;
}
button:hover {
    color: white;
    background-color: var(--purple);
    transition: 0.3s;
}
h5 {
    height: fit-content;
    border-bottom: 1px solid white
}
h5, button {
    display: inline-block;
}
.value {
    font-size: 12px;
    float: right;
}
.letter, .value {
    padding: 0;
    margin: 0;
}